.content {
	min-width: 220px;
	background-color: var(--gray-12);
	border-radius: 6px;
	padding: 0.5rem;
	border: var(--blue-9) 1px solid;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);

	>:not(:last-child) {
		margin-bottom: 5px;
	}
}

.container {
	display: flex;
	justify-content: space-between;
}

.menuItem {
	font-size: 1rem;
	display: flex;
	align-items: center;

	>a {
		padding: 1rem 0.5rem;
		width: 100%;
	}
}

.trigger {
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: var(--mint-9);
	border: none;
	background-color: transparent;
	height: 25px;
	outline: none;
	margin-right: 1rem;
}