.itemContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.5rem;
	gap: 0.5rem;
	border-bottom: 1px solid #38383859;
	border-top: 1px solid #38383859;

	&:hover {
		cursor: pointer;
		background-color: #fff2d6;
		filter: sepia(90%);
	}
}

.itemText {
	display: flex;

	>:first-child {
		margin-right: 1rem;
	}
}