.itemContainer {
	width: 100%;
	color: white;

	&:hover {
		cursor: pointer;
		background-color: #fff2d6;
		filter: sepia(90%);
	}
}

.inProgress {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	stroke: black;
}

.itemText {}

.description {
	font-size: 0.8rem;
}