.itemContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	padding: 0.5rem;
	gap: 0.5rem;
	border-bottom: 1px solid #38383859;
	border-top: 1px solid #38383859;

	&:hover {
		cursor: pointer;
		background-color: #fff2d6;
		filter: sepia(90%);
	}
}

.inProgress {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	stroke: black;
}

.itemText {
	display: flex;

	>:first-child {
		margin-right: 1rem;
	}
}

.description {
	color: black;
	font-size: 0.8rem;
}