nav.container[id^="EZDrawer__"] {
	color: white;
	box-shadow: var(--blue-9) 0px 0px 0px 1px;
	touch-action: cross-slide-y;
	background-color: var(--gray-3);

	div[class^="rhap_container"] {
		background-color: var(--gray-3);

		div[class*="rhap_total-time"],
		div[class*="rhap_current-time"],
		button[class*="rhap_main-controls-button"],
		button[class*="rhap_repeat-button"] {
			color: white;
		}

		div[class*="rhap_additional-controls"],
		div[class*="rhap_volume-indicator"],
		button[class*="rhap_volume-button"] {
			display: none;
		}

		button[aria-label*="Disable loop"] {
			color: var(--mint-9);
		}

		div[class*="rhap_progress-indicator"] {
			background-color: var(--blue-9);
		}

		div[class*="rhap_progress-bar"] {
			background-color: white;
		}

		div[class*="rhap_progress-filled"] {
			background-color: var(--mint-9);
		}
	}
}

.drawer {
	position: relative;
	background-color: var(--gray-3);
	touch-action: none;
}

.handle {
	position: absolute;
	top: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;

	&.minimized {
		height: 20px;
	}

	width: 50%;
	background-color: var(--blue-9);
}

.loadingSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	::after {
		content: " ";
		display: block;
		width: 30px;
		height: 30px;
		margin: 8px;
		border-radius: 50%;
		border: 6px solid var(--blue-9);
		border-color: var(--blue-9) transparent var(--blue-9) transparent;
		animation: lds-dual-ring 1.2s linear infinite;
	}
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}