.container {
	max-width: 600px;
	max-height: 98vh;
}

.subtitle {
	margin-bottom: 1rem;
	font-style: italic;

	&>a {
		color: v.$linkColor;
	}
}

.title {
	margin: 1rem 0.5rem 0.5rem;
}

.episodeTimer {
	display: flex;
	justify-content: space-between;
}

.descriptionContainer {
	padding-bottom: 1rem;

	>h3 {
		margin: 0.5rem 0;
	}
}

.description {
	line-height: 1.5;

	>p {
		&:first-child {
			margin-top: 1rem;
		}

		>a {
			text-decoration: underline;
			color: v.$linkColor
		}

		margin-bottom: 1rem;
	}

	li:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.podcastPlayerContainer {
	margin-top: 1rem;
	position: relative;
	text-align: center;

	>img {
		filter: brightness(0.5) grayscale(100%) blur(2px);
	}

	>svg {
		bottom: 40%;
		left: 35%;
		position: absolute;
		stroke: white;
	}
}

.descriptionBox {
	background-color: var(--gray-3);
}

.image {
	width: 100%;
}