.container {
	display: flex;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	color: var(--mint-9);
	font-size: 1.5rem;
	line-height: 1;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	padding: 0.5rem;
}