.container {
	display: flex;
	width: 100%;
	padding: 1rem;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--blue-9);
}

.nav {
	display: flex;
	align-items: center;
	line-height: 0;

	>a {
		color: var(--mint-9);
	}

	>a:not(:last-child) {
		margin-right: 1rem;
	}
}

.logo {
	font-size: 1.5rem;
}

.leftSide {
	display: flex;
	align-items: center;
}